extends layout

block content
  div(id='main')
    // wait why am i doing all of this in pug anyways
    div(id='tabs')
      // todo: originally i wanted to make it so that you could add more tabs but eh
      button(class='tabbutton' id='tab1') a
      button(class='tabbutton' id='tab2') b
      button(class='tabbutton' id='tab3') c
      button(class='tabbutton' id='tab4') d
      button(class='tabbutton' id='tab5') e
      button(class='tabbutton' id='tab6') f
      button(class='tabbutton' id='tab7') g
      button(class='tabbutton' id='tab8') h

    div(id='layers')
      button(class='layerbutton' id='layer1') 1
      button(class='layerbutton' id='layer2') 2
      button(class='layerbutton' id='layer3') 3
      button(class='layerbutton' id='layer4') 4


    //  is this bad? yea probably
    - var count = 0;
    div(class='gridstyle' id='grid1')
      - var i = 0, j = 0
      while i < 16
        - j = 0
        while j < 16
          button(id="note" + count)
          - count++;
          - j++
        - i++

    div(class='gridstylehidden' id='grid2')
      - var i = 0, j = 0;
      while i < 16
        - j = 0
        while j < 16
          button(id="note" + count)
          - count++;
          - j++
        - i++

    div(class='gridstylehidden' id='grid3')
      - var i = 0, j = 0;
      while i < 16
        - j = 0
        while j < 16
          button(id="note" + count)
          - count++;
          - j++
        - i++

    div(class='gridstylehidden' id='grid4')
      - var i = 0, j = 0;
      while i < 16
        - j = 0
        while j < 16
          button(id="note" + count)
          - count++;
          - j++
        - i++

    div(id='controls')
      button(id='playbackbutton')
        ion-icon(name="pause-outline" id='playbackionbutton')
      button(id='clearbutton')
        ion-icon(name="trash-outline")
      button(id='savebutton')
        ion-icon(name="save-outline")
      button(id='waveforms')
        ion-icon(name="trash-outline")


  div(id='menuButton')
    i(class='fa fa-bars')
  
  div(class='notification' style='display: none')
    p(id='message')

  div(id='menu' style='display: none')
    div(id='logo')
      //- h1 <i>prgrid</i>
      a(href="https://github.com/panbed/prgrid" target="_blank") 
        img(src='assets/prgrid_logo.webp' height=75)
    p import song
    input(
      type='text'
      id='loadtext'
    )
    button(id='loadbutton')
      i(class='fa fa-upload')
    p volume
    input(
      type='range'
      id='volume'
      min='0'
      max='1'
      step='0.01'
      value='0.3'
    )
    p speed
    input(
      type='range'
      id='speed'
      min='10'
      max='500'
      step='1'
      value='150'
    )
    p pitch
    div(id='pitches')
      button(id='pitch1' class='pitchbutton') 1
      button(id='pitch2' class='pitchbutton') 2
      button(id='pitch3' class='pitchbutton') 3
      button(id='pitch4' class='pitchbutton') 4
      button(id='pitch5' class='pitchbutton') 5
      button(id='pitch6' class='pitchbutton') 6
      button(id='pitch7' class='pitchbutton') 7
      
    p debug
    div(id='debugbuttons')
      button(title='Clear everything in the current song bank.' id='clear' class='debugbutton')
        ion-icon(name="close-circle-sharp")
      button(title='Nuke everything. Including localStorage.' id='nuke' class='debugbutton')
        ion-icon(name="nuclear-sharp")
      button(title='Shuffle the board!' id='shuffle' class='debugbutton')
        ion-icon(name="shuffle-sharp")

    



